/*商品数量加减*/

header {
    text-align: center;
    font-size: 16px;
}
section h3{
	font-size: 16px;
	font-weight: normal;
	margin:20px 0 10px;  
}
.btn-sum {
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px;
    height: 20px;
    width: 24px;
}

.subtract {
    margin-right: -1px;
}

.in-sum {
    text-align: center;
    width: 30px;
    border: 1px solid #ccc;
    padding: 2px;
    height: 20px;
    border-right-color: transparent;
    margin: 0 -4px;
}

.good-select li {
    float: left;
    margin: 10px;
    position: relative;
}
button[disabled] {
    opacity: .65;
    cursor: not-allowed;
    background: #eee;
}
.index .btn {
    border: 1px solid #ddd;
    background: #fff;
    outline: 0;
    padding: 5px 0;
    text-align: center;
    width: 45px;
}

.index li.active .btn {
    border: 1px solid #e0007d;
}

.index li.active i {
    position: absolute;
    background: url(../images/ico-selected.png) no-repeat;
    background-size: 12px 12px;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -99em;
    display: block;

}
/* ==========================================================================
   文字滚动
   ========================================================================== */
.box{ width:980px; margin:0 auto;}
.bcon{ width:270px; border:1px solid #eee; margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:400px; overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:4px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center;}

