/*商品数量加减*/
body{
    width: 1240px;
    margin: 20px auto;
}
header {
    text-align: center;
    font-size: 16px;
}
section h3{
	font-size: 16px;
	font-weight: normal;
	margin:20px 0 10px;  
}
.btn-sum {
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px;
    height: 20px;
    width: 24px;
}

.subtract {
    margin-right: -1px;
}

.in-sum {
    text-align: center;
    width: 30px;
    border: 1px solid #ccc;
    padding: 2px;
    height: 20px;
    border-right-color: transparent;
    margin: 0 -4px;
}

.good-select li {
    float: left;
    margin: 10px;
    position: relative;
}
button[disabled] {
    opacity: .65;
    cursor: not-allowed;
    background: #eee;
}
.index .btn {
    border: 1px solid #ddd;
    background: #fff;
    outline: 0;
    padding: 5px 0;
    text-align: center;
    width: 45px;
}

.index li.active .btn {
    border: 1px solid #e0007d;
}

.index li.active i {
    position: absolute;
    background: url(../images/ico-selected.png) no-repeat;
    background-size: 12px 12px;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -99em;
    display: block;

}
/* ==========================================================================
   文字滚动
   ========================================================================== */
.box{ width:980px; margin:0 auto;}
.bcon{ width:270px; border:1px solid #eee; margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:400px; overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:4px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center;}
/* ==========================================================================
   导航滚动
   ========================================================================== */
.navS1 #nav {left: 20px;list-style: none;margin: 0;position: fixed;top: 20px;}
.navS1 #nav li {margin-bottom: 2px;}
.navS1 #nav a {background: #ededed;color: #666;display: block; font-size: 14px;padding: 5px 10px;text-decoration: none;text-transform: uppercase;}
.navS1 #nav a:hover {background: #dedede;}
.navS1 #nav .current a {background: #666;color: #ededed;}
.navS1 #container {margin: 0 auto; width: 800px;}
.navS1 .section {border-bottom: 5px solid #ccc;min-height: 60vh;padding: 50px 20px;}
.navS1 .section p:last-child { margin-bottom: 0;}
.navS2 .section-wrapper {margin-top: -50px;padding-top: 50px;}
.navS2 .section-wrapper:first-child .section {padding-top: 100px;}
.navS2 #nav {background: #000;left: 0;list-style: none;overflow: hidden;padding-top: 9px;position: fixed;right: 0;text-align: center;top: 0;}
.navS2 #nav li {display: inline-block; margin-bottom: 0;}
.navS2 #nav a {background: #000;color: #fff;display: block;padding: 10px;}
.navS2 #nav a:hover {background: none; color: #dedede;}
.navS2 #nav .current a {background: #fff;color: #000;}
h1, h2, h3, p, pre, ul {
    margin: 0;
    padding: 0;
}
.navS h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 1em;
}
.navS h2 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 1em;
}
.navS h3 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 1em;
}
.navS p, .navS pre, .navS ul {
    margin-bottom: 2em;
}
.navS pre {
    background: #fefefe;
    border: 1px solid #dedede;
    overflow-x: auto;
    padding: 2em;
}
.navS ul {
    margin-left: 1em;
}
